*{
    background: black;
    color:brown;
    font-size:100px;
    letter-spacing: 3px;
}


#coiny{font-family: 'Coiny', cursive;}

#lobster{font-family: 'Lobster', cursive;}

#special-elite{font-family: 'Special Elite', cursive;}

#courgette{font-family: 'Courgette', cursive;}

#satisfy{font-family: 'Satisfy', cursive;}

#monoton{font-family: 'Monoton', cursive;}

#boogaloo{font-family: 'Boogaloo', cursive;}

#oleo-script{font-family: 'Oleo Script', cursive;}

#chewy{font-family: 'Chewy', cursive;}

#fredericka-the-great{font-family: 'Fredericka the Great', cursive;}

#rancho{font-family: 'Rancho', cursive;}

#vollkorn{font-family: 'Vollkorn', serif;}

#cabin-sketch{font-family: 'Cabin Sketch', cursive;}

#yesteryear{font-family: 'Yesteryear', cursive;}

#delius{font-family: 'Delius', cursive;}

#faster-one{font-family: 'Faster One', cursive;}

#londrina-outline{font-family: 'Londrina Outline', cursive;}

#chicle{font-family: 'Chicle', cursive;}

#kavoon{font-family: 'Kavoon', cursive;}

#akronim{font-family: 'Akronim', cursive;}

#monofett{font-family: 'Monofett', cursive;}

#barrio{font-family: 'Barrio', cursive;}

#zilla-slab-highlight{font-family: 'Zilla Slab Highlight', cursive;}

#bowlby-one-sc{font-family: 'Bowlby One SC', cursive;}

#signika{font-family: 'Signika', sans-serif;}

#amaranth{font-family: 'Amaranth', sans-serif;}

#tenali-ramakrishna{font-family: 'Tenali Ramakrishna', sans-serif;}

#palanquin{font-family: 'Palanquin', sans-serif;}

#neuton{font-family: 'Neuton', serif;}

#average{font-family: 'Average', serif;}

#gurajada{font-family: 'Gurajada', serif;}




